@import '../../scss/index.scss';

.sign-up-form {
  h2 {
    font-weight: bold;
    padding-bottom: 30px;
  }

  .form.group {
    padding-bottom: 20px;

    input {
      font-size: 25px;
    }
  }

  button {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    border-radius: 50px;
    margin-top: 20px;

    .spinner-border {
      width: 25px;
      height: 25px;
    }
  }
}