@import "../../scss/index.scss";

.sign-in-form {
  h2 {
    font-weight: 700;
    padding-bottom: 30px;
  }

  .form-group {
    padding-bottom: 20px;

    input {
      font-size: 18px;
    }
  }

  button {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border-radius: 50px;
    margin-top: 30px;

    .spinner-border {
      width: 25px;
      height: 25px;
    }
  }
}