@import "../../scss/index.scss";

.user{
  &__title {
    border-bottom: 1px solid $border-grey;
    padding: 15px;

    h2 {
      font-size: 22px;
      margin-bottom: 0;
      font-weight: bold;
    }
  }

  &__tweets {
    h3 {
      padding: 15px;
      font-size: 18px;
      border-bottom: 1px solid $border-grey;
    }

    > .btn.btn-primary {
      display: flex;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: transparent;
      border: 0;

      &:hover, &:focus {
        background-color: transparent;
        color: $primary;
      }
    }
  }
}