@import "../../scss/index.scss";

.left-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100vh;
  border-right: 1px solid $border-grey;

  .logo {
    width: 50px;
    padding: 20px 0 30px 0;
  }

  a {
    font-size: 15px;
    color: $font-light;
    font-weight: bold;
    margin-bottom: 30px;
    &:hover {
      text-decoration: none;
      color: $primary;
    }

    svg {
      margin-right: 15px;
      width: 30px !important;
    }
  }

  button {
    width: 80%;
    border-radius: 50px;
    font-size: 15px;
    padding: 10px;
    margin-top: 30px;
    font-weight: bold;
  }


}