@import "../../../scss/index.scss";

.config-modal {
  .modal-content {
    background-color: $background-grey-dark;
    border-radius: 25px;
    overflow: hidden;

    .modal-header {
      border-bottom: 1px solid $border-grey;
      padding: 20px;

      .modal-title {
        display: flex;
        align-items: center;

        svg {
          width: 15px;
          height: 15px;
          fill: $primary;
          margin-left: 10px;
          margin-right: 20px;

          &:hover {
            cursor: pointer;
          }
        }

        h2 {
          font-size: 18px;
          margin: 0;
        }
      }
    }

    .modal-body {
      padding: 0;
    }
  }
}